llama-cpp-python==0.3.8
cmake
fastapi
uvicorn
streamlit
ninja
gradio
requests
numpy
huggingface-hub
sentencepiece
rich
pydantic
python-multipart
orjson
torch
matplotlib
pandas
scikit-learn
scipy   
safetensors
bitsandbytes
accelerate
setuptools
markupsafe
argparse
