llama-cpp-python==0.3.8
fastapi==0.115.1
uvicorn==0.34.2
streamlit==1.35.0
gradio==4.16.0
requests==2.32.3
numpy==1.26.4
torch==2.7.0
torchvision==0.16.2
huggingface-hub==0.30.2
sentencepiece==0.1.99
rich==14.0.0
pydantic==2.11.4
python-multipart==0.0.20
orjson==3.10.18
tqdm==4.67.1
matplotlib==3.10.1
pandas==2.2.3
scikit-learn==1.2.2
scipy==1.15.2
safetensors==0.5.3
bitsandbytes==0.45.5
accelerate==0.21.0

